In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize

In [2]:
data = pd.read_csv('diamonds-train.csv')

In [3]:
X = data.drop('price', axis=1)

In [4]:
Y = data['price']

In [5]:
data.color.value_counts()

G    9580
E    8355
F    8083
H    7072
D    5804
I    4580
J    2375
Name: color, dtype: int64

In [6]:
data.cut.value_counts()

Ideal        18341
Premium      11700
Very Good    10277
Good          4153
Fair          1378
Name: cut, dtype: int64

In [7]:
data.clarity.value_counts()

SI1     11162
VS2     10423
SI2      7797
VS1      6931
VVS2     4357
VVS1     3069
IF       1487
I1        623
Name: clarity, dtype: int64

In [8]:
cleanup_nums = {"color":     {"D":7, "E": 6, "F":5, "G":4, "H":3, "I":2, "J":1},
                "cut": {"Fair": 1, "Good":2, "Very Good":3, "Premium":4,
                                  "Ideal":5 },
                "clarity": {"I1":0, "SI2":1, "SI1":2, "VS2":3, "VS1":4, "VVS2":5, "VVS1":6, "IF":7}}

In [9]:
X.replace(cleanup_nums, inplace=True)
X.head()

   carat  cut  color  clarity     x     y     z  depth  table
0   1.62    5      2        3  7.53  7.58  4.69   62.1   55.0
1   0.30    4      4        2  4.39  4.35  2.57   58.8   60.0
2   1.37    5      5        4  7.28  7.22  4.32   59.6   57.0
3   0.33    1      3        5  4.40  4.32  2.84   65.1   59.0
4   0.32    3      5        3  4.43  4.48  2.62   58.8   62.0

In [23]:
X['carat'] = normalize(X[['carat']].T).T
X['x'] = normalize(X[['x']].T).T
X['y'] = normalize(X[['y']].T).T
X['z'] = normalize(X[['z']].T).T
X['depth'] = normalize(X[['depth']].T).T
X['table'] = normalize(X[['table']].T).T
X.head()

,carat,cut,color,clarity,x,y,z,depth,table
0,0.008154,5,2,3,0.006022,0.006055,0.006075,0.004696,0.004467
1,0.001510,4,4,2,0.003511,0.003475,0.003329,0.004446,0.004873
2,0.006896,5,5,4,0.005822,0.005768,0.005596,0.004507,0.004630
3,0.001661,1,3,5,0.003519,0.003451,0.003679,0.004923,0.004792
4,0.001611,3,5,3,0.003543,0.003579,0.003394,0.004446,0.005036

In [11]:

X_train, X_validation, y_train, y_validation = train_test_split(X, Y, test_size=0.15)